html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171717;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #111;
    color: white;
    padding: 1em;
    text-align: center;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.menutoggle {
    position: fixed;
    top: 3%;
    left: 0;
    background-color: rgba(1, 196, 255, .5);
    color: white;
    padding: 1em;
    border-radius: 0 50% 50% 0;
    z-index: 2;
}

#menutogglecheckbox {
    display: none;
}

#menutogglecheckbox:checked~.side-bar {
    transform: translateX(0);
}

@media (min-width: 800px) {
    .rightcontent {
        overflow-y: scroll;
    }
    .contentwrapper {
        display: grid;
        grid-template-columns: 12em 1fr;
        height: 100vh;
    }
    .menutoggle {
        z-index: -1;
    }
}

.side-bar {
    height: 100vh;
    width: 75%;
    background-color: #111;
    color: white;
    position: fixed;
    transform: translateX(-100%);
    transition: all 1s;
    padding: 1em;
    box-sizing: border-box;
    z-index: 3
}

.side-bar a {
    color: white;
}

.side-bar__closemenu {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.side-bar__navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-bar__person {
    border-bottom: 1px solid white;
}

.side-bar__person-img {
    width: 50%;
    border-radius: 50%;
}

.side-bar__person-name {
    margin: .5rem 0 0 0;
    color: #01C4FF
}

.side-bar__person-title {
    margin-top: .5em;
    color: #dddddd;
}

.side-bar__navigation {
    margin-top: 1em;
}

.side-bar__navigation-listitem {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.sidebar__external-links {
    font-size: 1.4rem;
}

@media (min-width: 800px) {
    .side-bar {
        text-align: center;
        position: relative;
        width: initial;
        transform: translateX(0);
        transition: all 0s;
    }
    .side-bar a {
        transition: color .2s;
    }
    .side-bar a:hover {
        color: #01C4FF;
    }
    .side-bar__closemenu {
        display: none;
    }
    .side-bar__person {
        margin-bottom: 1em;
    }
    .side-bar__person-img {
        display: block;
        width: 100%;
        border-radius: 50%;
    }
    .side-bar__navigation {
        text-align: left
    }
    .side-bar__navigation-listitem {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .sidebar__external-links {
        font-size: 1.2em;
    }
}

.top-banner {
    display: grid;
    color: white;
}


.top-banner__content {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(17, 17, 17, .7);
    padding: 1.5em;
    position: relative;
}

.top-banner__content-logo {
    width: 25%;
    margin-bottom: 2em;
}

.top-banner__scrolldown {
    position: absolute;
    bottom: 2%;
    animation: scrolldown 3s infinite;
}
@keyframes scrolldown {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.top-banner__title {
    font-size: 4em;
    margin: 0;
}

.top-banner__img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

@media (min-width: 800px) {
    .top-banner {
        display: grid;
        color: white;
    }
    .top-banner__content {
        grid-column: 1/-1;
        grid-row: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(17, 17, 17, .7)
    }
    .top-banner__content-logo {
        width: 8%;
        margin-bottom: 2em;
    }
    .top-banner__title {
        font-size: 4em;
        margin: 0;
    }
}
.informationsection {
    margin: 2em 0;
}

.informationitem {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.informationitem__img {
    width: 100%;
}

@media (min-width: 800px) {
    .informationsection {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 4em;
        margin: 2em 0
    }
}
